
input{
  background-color: #efe6ff;
  width: 100px;
  height: 90px;
  border-radius: 25px;
  margin-top: 4px;
  margin-right: 2px;
  margin-left: 2px;
  color: #483e5a;
}

#output{
  margin: 0 auto;
  width: 400px;
  background: white;
  text-align: center;
  margin-top: 30px;
  height: 50px;
  font-size: 40px;
  font-family: 'Arial', sans-serif;
  border-radius: 25px;
  font-weight: bold;
}
#superconteneur {
  border-radius: 25px;
  margin: 0 auto;
  height: 450px;
  width: 440px;
}

body {
  background-color: #000000;
}

#conteneur
{
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  display: flex;
}


input[value="AC"]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="CE"]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="%"]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="/"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="7"]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="8"]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="9"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="*"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="4"]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="5"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="6"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="-"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="1"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="2"]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="3"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="+"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="0"]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="1"]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="."]{font-size: 40px; font-family: 'Arial', sans-serif;font-weight: bold;}
input[value="="]{font-size: 40px;font-family: 'Arial', sans-serif;font-weight: bold;}